################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeChallenge/.vs/CodeChallenge
/.vs
/CodeChallenge/SpreeCommerce/bin/Debug/net8.0
/CodeChallenge/SpreeCommerce/obj
