################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeChallenge/.vs/CodeChallenge
/.vs
/CodeChallenge/.vs/ProjectEvaluation
/CodeChallenge/SpreeCommerce.Tests/bin
/CodeChallenge/SpreeCommerce.TestHelpers/bin
/CodeChallenge/SpreeCommerce.TestHelpers/obj
/CodeChallenge/SpreeCommerce.Tests/obj
